/* Breakpoints */

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

/* Colors */

$whatsapp-green: #25d366;

$white-100: #ffffff;
$white-200: #fdfeff;
$white-300: #fcfdff;
$white-400: #f9fbff;
$white-500: #f1f3f7;
$white-600: #e9ecf2;
$white-700: #e0e4eb;
$white-800: #d6dbe3;
$white-900: #a9abad;

$gunmetal-100: #c8cbcc;
$gunmetal-200: #aeb2b3;
$gunmetal-300: #949a9b;
$gunmetal-400: #7a8182;
$gunmetal-500: #606869;
$gunmetal-600: #4a4f50;
$gunmetal-700: #3d4142;
$gunmetal-800: #2f3233;
$gunmetal-900: #151718;

$stormcloud-100: #bfe8d3;
$stormcloud-200: #a0c8b4;
$stormcloud-300: #82aa96;
$stormcloud-400: #668c79;
$stormcloud-500: #4a6f5d;
$stormcloud-600: #3a5a4a;
$stormcloud-700: #384b41;
$stormcloud-800: #2d3d35;
$stormcloud-900: #222f29;

$tealblue-100: #e6f9f8;
$tealblue-200: #c1f0ec;
$tealblue-300: #9be7e0;
$tealblue-400: #76ded4;
$tealblue-500: #3bc9db;
$tealblue-600: #2ca9b9;
$tealblue-700: #1e8a98;
$tealblue-800: #106b77;
$tealblue-900: #0a4d56;

$skyblue-100: #e6f9ff;
$skyblue-200: #c1f0ff;
$skyblue-300: #9be7ff;
$skyblue-400: #76deff;
$skyblue-500: #3bc9ff;
$skyblue-600: #2ca9e6;
$skyblue-700: #1e8abf;
$skyblue-800: #106b99;
$skyblue-900: #0a4d73;

$orangejam-100: #FDE3D0;
$orangejam-200: #FBD1B9;
$orangejam-300: #F9BF9F;
$orangejam-400: #F7AD88;
$orangejam-500: #ED7D31;
$orangejam-600: #D66B2B;
$orangejam-700: #C55925;
$orangejam-800: #B4471F;
$orangejam-900: #A33519;

$info-yellow-100: #FFF8E5;
$info-yellow-200: #FFF1CC;
$info-yellow-300: #FFEAB2;
$info-yellow-400: #FFE399;
$info-yellow-500: #FFD66B;
$info-yellow-600: #E6BF5F;
$info-yellow-700: #CCAA53;
$info-yellow-800: #B39747;
$info-yellow-900: #99823B;

$danger-red-100: #FFE5E5;
$danger-red-200: #FFCCCC;
$danger-red-300: #FFB2B2;
$danger-red-400: #FF9999;
$danger-red-500: #FF6666;
$danger-red-600: #E65C5C;
$danger-red-700: #CC5252;
$danger-red-800: #B34747;
$danger-red-900: #993D3D;