/* Breakpoints */

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

/* Colors */

$whatsapp-green: #25d366;

$online-green: #00c853;
$offline-red: #d50000;

$white-100: #ffffff;
$white-200: #fdfeff;
$white-300: #fcfdff;
$white-400: #f9fbff;
$white-500: #f1f3f7;
$white-600: #e9ecf2;
$white-700: #e0e4eb;
$white-800: #d6dbe3;
$white-900: #a9abad;

$gunmetal-100: #c8cbcc;
$gunmetal-200: #aeb2b3;
$gunmetal-300: #949a9b;
$gunmetal-400: #7a8182;
$gunmetal-500: #606869;
$gunmetal-600: #4a4f50;
$gunmetal-700: #3d4142;
$gunmetal-800: #2f3233;
$gunmetal-900: #151718;

$stormcloud-100: #bfe8d3;
$stormcloud-200: #a0c8b4;
$stormcloud-300: #82aa96;
$stormcloud-400: #668c79;
$stormcloud-500: #4a6f5d;
$stormcloud-600: #3a5a4a;
$stormcloud-700: #384b41;
$stormcloud-800: #2d3d35;
$stormcloud-900: #222f29;

$tealblue-100: #e6f9f8;
$tealblue-200: #c1f0ec;
$tealblue-300: #9be7e0;
$tealblue-400: #76ded4;
$tealblue-500: #3bc9db;
$tealblue-600: #2ca9b9;
$tealblue-700: #1e8a98;
$tealblue-800: #106b77;
$tealblue-900: #0a4d56;

$skyblue-100: #e6f9ff;
$skyblue-200: #c1f0ff;
$skyblue-300: #9be7ff;
$skyblue-400: #76deff;
$skyblue-500: #3bc9ff;
$skyblue-600: #2ca9e6;
$skyblue-700: #1e8abf;
$skyblue-800: #106b99;
$skyblue-900: #0a4d73;

$orangejam-100: #fde3d0;
$orangejam-200: #fbd1b9;
$orangejam-300: #f9bf9f;
$orangejam-400: #f7ad88;
$orangejam-500: #ed7d31;
$orangejam-600: #d66b2b;
$orangejam-700: #c55925;
$orangejam-800: #b4471f;
$orangejam-900: #a33519;

$info-yellow-100: #fff8e5;
$info-yellow-200: #fff1cc;
$info-yellow-300: #ffeab2;
$info-yellow-400: #ffe399;
$info-yellow-500: #ffd66b;
$info-yellow-600: #e6bf5f;
$info-yellow-700: #ccaa53;
$info-yellow-800: #b39747;
$info-yellow-900: #99823b;

$danger-red-100: #ffe5e5;
$danger-red-200: #ffcccc;
$danger-red-300: #ffb2b2;
$danger-red-400: #ff9999;
$danger-red-500: #ff6666;
$danger-red-600: #e65c5c;
$danger-red-700: #cc5252;
$danger-red-800: #b34747;
$danger-red-900: #993d3d;
